@import url('./banner.css');
@import url('./menu.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./contact.css');
/*general*/
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #131313;
    --primary-hover: #000000;
    --secondary-color: #ff0015;
    --light: #ececec;
    --dark: #131313;
}
/*imports*/
